body {
	font-family: Helvetica, Arial, "sans serif";
	font-size: 12px;
}

#canvas-source {
	position: absolute;
	top: 40px;
	left: 10px;
}

#canvas-blended {
	position: absolute;
	top: 407px;
	left: 500px;
	width: 150px;
	height: 113px;
}